@charset "utf-8";
// @import "@/styles.scss";

$theme-color: #3385ff;

// 主要字体献策
$font-color-theme : #9F9BD4; //字体主题颜色默认
$font-color-theme1 : #9F9BD4; //字体主题颜色1
$font-color-theme2 : #606266; //字体主题颜色2
$font-color-theme3 : #606266; //字体主题颜色3
$font-color-theme4 : #B0B0B0; //字体次要主题颜色

//特殊字体颜色 
$sec-font-color-theme1:#d66a57;
$sec-font-color-theme2:#d66a57;
$sec-font-color-theme3:#d66a57;
$sec-font-color-theme4:#a75d30;

//基础背景颜色
@function background-color-theme1($lightness:hsl(244,100%,10.0%)) {
    @return ($lightness);
}

@function background-color-theme2($lightness:hsl(216,20%,95.0%)) {
    @return ($lightness);
}

@function background-color-theme3($lightness:hsl(216,20%,95.0%)) {
    @return  ($lightness);
}

@function background-color-theme4($lightness:hsl(0, 0%, 7.0%)) {
    @return  ($lightness);
}

// 二级背景色，工具栏，内容区域背景颜色
$content-background1:#1f1d4e;
$content-background2:#fff;
$content-background3:#fff;
$content-background4:#191919;

// 特殊方块颜色（厂站，线路检测）
$sec-content-background1:hsl(244, 100%, 10%);
$sec-content-background2:#08c2b5;
$sec-content-background3:#7bc5c5;
$sec-content-background4:#111111;

// 工具栏顶部title条颜色
$tool-bar-background1:#040227;
$tool-bar-background2:#06998e;
$tool-bar-background3:#397373;
$tool-bar-background4:#323232;
// border颜色
$border-color-theme1:#423f6b;
$border-color-theme2:#e5e5e5;
$border-color-theme3:#e5e5e5;
$border-color-theme4:#363535;
// box-shadow
// $box-shadow-theme1:rgba(128, 128, 128, 0.3) 0px 0px 40px inset;
$box-shadow-theme2:4px 4px 30px rgba(75,102,171,0.2);
$box-shadow-theme3:4px 4px 30px rgba(75,102,171,0.2);

@function box-shadow-theme1($lightness) {
    @return rgba(128, 128, 128, 0.3) 0px 0px $lightness inset;
}

@function box-shadow-theme4($lightness) {
    @return rgba(128, 128, 128, 0.3) 0px 0px $lightness inset;
}